# Ejercicios para practicar - Estructura de datos

A continuación encontraréis un conjunto de problemas que pueden servir para practicar los conceptos explicados en esta primera unidad, así como para refrescar los conceptos básicos de programación. Os recomendamos que intentéis realizar estos problemas vosotros mismos y que, una vez realizados, comparéis la solución que proponemos con vuestra solución. No dudéis en dirigir todas las dudas que surjan de la resolución de estos ejercicios, o bien de las soluciones propuestas, al foro del aula.

1. Decidid cuál es la estructura de datos más adecuada para responder a cada una de las preguntas siguientes y escribid el código que permita responderlas.

Disponemos de datos de un conjunto de ciudades del mundo. De cada ciudad, sabemos si tiene más de 14 millones de habitantes, si es capital del país donde se encuentra y si tiene una densidad de población por encima de los 20.000 habitantes por $km^2$:
* Las ciudades Shanghai, Beijing, Delhi, Estambul, Karachi, Guangzhou y Kinshasa tienen más de 14 millones de habitantes. El resto de las ciudades de las que tenemos datos tienen 14 millones o menos de habitantes.
* Las ciudades Delhi, Beijing, Kinshasa, Tokio, Moscow, Jakarta, Seoul y El Cairo son capitales del país donde se encuentran. El resto de las ciudades de las que tenemos datos no son capitales.
* Las ciudades El Cairo, Kinshasa, Delhi y Tokio tienen una densidad de población por encima de los 20.000 habitantes por $km^2$. El resto de las ciudades de las que tenemos datos no superan los 20.000 habitantes por $km^2$. 

1.1. ¿De cuántas ciudades (diferentes) tenemos datos? Asumiremos que no hay ninguna ciudad que no cumpla al menos una de las propiedades anteriores.

In [4]:
#Respuesta

high_pop = {'Shanghai', 'Beijing', 'Delhi', 'Estambul', 'Karachi', 'Guangzhou', 'Kinshasa'}
capitals = {'Delhi', 'Beijing', 'Kinshasa', 'Tokio', 'Moscow', 'Jakarta', 'Seoul', 'El_Cairo'}
high_density = {'El_Cairo', 'Kinshasa', 'Delhi', 'Tokio'}

distinct_cities = sorted(set.union(high_pop, high_density, capitals))
print(len(capitals.union(high_pop, high_density))) #alternativa

print(f'El dataset contiene datos de {len(distinct_cities)} ciudades distintas')
print(*distinct_cities, sep=', ')

12
El dataset contiene datos de 12 ciudades distintas
Beijing, Delhi, El_Cairo, Estambul, Guangzhou, Jakarta, Karachi, Kinshasa, Moscow, Seoul, Shanghai, Tokio

1.2. ¿Cuántas ciudades tienen más de 14 millones de habitantes y una densidad de población por encima de los 20.000 habitantes por $ km ^ 2 $?

In [5]:
# Respuesta

high_pop_high_density = high_density.intersection(high_pop)
r12 = {c for c in distinct_cities if c in high_density and c in high_pop}
print(r12)
print(f'Existen {len(high_pop_high_density)} ciudades con alta poblacion y alta densidad')
print(*high_pop_high_density, sep=', ')

{'Kinshasa', 'Delhi'}
Existen 2 ciudades con alta poblacion y alta densidad
Kinshasa, Delhi

1.3. ¿Qué ciudades tienen una densidad de población por encima de los 20.000 habitantes por $ km ^ 2 $ pero no más de 14 millones de habitantes?

In [13]:
# Respuesta
#determino el conjunto de ciudades con poblacion baja
low_pop = distinct_cities.difference(high_pop)

high_density_low_pop = low_pop.intersection(high_density)

print(f'Existen {len(high_density_low_pop)} ciudades con baja poblacion y alta densidad')
print(*high_density_low_pop, sep=', ')

Existen 2 ciudades con baja poblacion y alta densidad
Tokio, El_Cairo

1.4. ¿Cuál es el país con mayor número de ciudades por encima de 14 millones de habitantes? ¿Cuántas ciudades de estas características hay en cada país?

Para responder a estas preguntas, nos faltará añadir información al conjunto de datos de ciudades disponible para realizar la actividad. Pensad cuál sería la estructura de datos más adecuada para almacenar esta información extra y calcular la respuesta a la pregunta planteada.

In [42]:
# Respuesta

countries = {'Beijing': 'China',
            'Delhi': 'India',
            'El_Cairo': 'Egipto',
            'Estambul': 'Turkey',
            'Guangzhou': 'China',
            'Jakarta': 'Indonesia',
            'Karachi': 'Pakistan',
            'Kinshasa': 'R D Congo',
            'Moscow': 'Rusia',
            'Seoul': 'Corea del Sur',
            'Shanghai': 'China',
            'Tokio': 'Japón'}

# dict_variable = {key:value for (key,value) in dictonary.items()}
high_pop_fromdict = {k:countries[k] for k in high_pop}
#contamos el numero de paises con alta poblacion
country_list = [value for key, value in high_pop_fromdict.items()]

from collections import Counter 
counter_per_country = Counter(country_list)
print(counter_per_country)

#alternativa 2 con lambda
country_table = dict(zip(country_list, map(lambda x: country_list.count(x), country_list)))
print(country_table)

# alternativa 3 max(counter_per_country.items(), key = lambda k : k[1])
max_country = max(counter_per_country, key=counter_per_country.get) 
print(max_country)

# alternativa 4
high_pop_fromdict2 = [countries[k] for k in high_pop]
counter_per_country2 = Counter(high_pop_fromdict2)
print(counter_per_country2)

Counter({'China': 3, 'R D Congo': 1, 'India': 1, 'Turkey': 1, 'Pakistan': 1})
{'China': 3, 'R D Congo': 1, 'India': 1, 'Turkey': 1, 'Pakistan': 1}
China
Counter({'China': 3, 'R D Congo': 1, 'India': 1, 'Turkey': 1, 'Pakistan': 1})

1.5. ¿Cuáles son los dos países adyacentes que tienen el mayor número de ciudades por encima de 14 millones de habitantes?

Para responder a esta pregunta, nos faltará añadir más información al conjunto de datos de ciudades disponible para realizar la actividad. De nuevo, pensad cuál sería la estructura de datos más adecuada para almacenar esta información extra y calcular la respuesta a la pregunta planteada.

In [97]:
# Respuesta

2. Calculad cuántas horas ha trabajado la persona que ha escrito la siguiente frase:

"I started working at 17:22:42 and finished at 22:00:00"

In [53]:
sentence = "I started working at 17:22:42 and finished at 22:00:00"
sentence_split = sentence.split()

# Respuesta
start = sentence_split[4] 
end = sentence_split[8]

import datetime as dt
start_f = dt.datetime.strptime(start, '%H:%M:%S')
end_f = dt.datetime.strptime(end, '%H:%M:%S')

delta = end_f - start_f

print(f'La cantidad de tiempo exacto de trabajo ha sido {delta}')

La cantidad de tiempo exacto de trabajo ha sido 4:37:18

3. Dada la cadena de caracteres `sentence`, reemplazad todos los espacios en blanco por puntos.

In [54]:
sentence2 = " From     time to time, Python makes  an    incompatible change " \
    " to the   advertised semantics of core language constructs   "

# Respuesta
sentence2.replace(' ','.')

'.From.....time.to.time,.Python.makes..an....incompatible.change..to.the...advertised.semantics.of.core.language.constructs...'

4. Dada la misma cadena de caracteres del ejercicio anterior, reemplazad todos los espacios en blanco contiguos por un único punto. Es decir, si encontráis tres espacios en blanco consecutivos, estos se deben reemplazar por un único punto, y no por tres puntos como implementábamos en el ejercicio anterior. Eliminad los espacios que se encuentran al inicio y al final de la cadena antes de sustituirlos por puntos.

In [56]:
# Respuesta
import re
stripsentence = sentence2.strip()
re.sub(' +', ('.'), stripsentence)

'From.time.to.time,.Python.makes.an.incompatible.change.to.the.advertised.semantics.of.core.language.constructs'

5. Proporcionad una lista con todas las palabras de cuatro letras de la cadena de caracteres `sentence` que empiecen por `t` o `F`.

In [68]:
# Respuesta
sentence2a = re.findall(r" [F]\w{3}| t\w{3}", sentence2)
sentence2a

#letters = ['t', 'F']
#found_words = [w for w in sentence.split() if len(w)==4 and w[0] in letters]
#found_words

[' From', ' time', ' time']

6. Reemplazad todas las mayúsculas de la cadena `sentence` por interrogantes.

In [69]:
# Respuesta
new_sentence = re.sub(r"[A-Z]","?", sentence2)
print(new_sentence)

 ?rom     time to time, ?ython makes  an    incompatible change  to the   advertised semantics of core language constructs

7. Una aerolínea nos contrata para ayudarla a optimizar el procedimiento de embarque de sus aviones. La aerolínea dispone de tres clases de billetes: primera, *business* y turista. A la hora de embarcar, los clientes se sitúan en tres colas, una para cada clase. Después, sin embargo, solo hay dos azafatas que les validen la tarjeta de embarque, por lo que las tres colas iniciales se convierten en dos, a partir de las cuales los pasajeros acceden a los aviones.

Actualmente, la aerolínea utiliza la siguiente estrategia para convertir las tres colas iniciales (por clase) en las dos colas que embarcan (una por cada azafata):

Por un lado, los clientes de primera y *business* van a parar a la cola 1 (cola prioritaria), intercalando un cliente de cada tipo en la cola prioritaria siempre que haya suficientes clientes para hacerlo, y asignando después todos los clientes restantes a la nueva cola. Así, el primer cliente que se asigna a la cola prioritaria es el primer cliente de la clase primera, el segundo cliente de la cola prioritaria será el primer cliente de la cola de *business*, el tercer cliente de la cola prioritaria será el segundo cliente de la clase primera, etc.

Por otra parte, los clientes de clase turista van a parar a la cola 2 (cola no prioritaria), siguiendo el orden que tenían en la cola de la clase turista. Ahora bien, si un cliente de clase turista tiene movilidad reducida o va acompañado de niños, entonces este se sitúa al frente de la cola prioritaria. Si hay más de un cliente en estas condiciones, el orden que siguen en la cola de la clase turista se mantiene.

Para evaluar cómo de buena es la estrategia, la aerolínea utiliza dos métricas:
1. El tiempo que se tarda en embarcar el avión es de 30 segundos por pasajero, considerando que las dos colas (1 y 2) embarcan a la vez. Es decir, si la cola 1 tiene un pasajero y la cola 2 tiene dos, se tardará un minuto en embarcar.
2. La satisfacción global de sus clientes, que se calcula haciendo la media de la satisfacción de cada cliente, considerando que:

* Los clientes de primera tienen una satisfacción de -25 veces el número de posiciones que han perdido en la cola prioritaria respecto a su posición original en la cola de primera. Es decir, un cliente que estaba en tercera posición en la cola de primera y que ocupa la quinta posición de la cola prioritaria, tendrá una satisfacción de -50.
* Los clientes de *business* siempre tienen una satisfacción de 0.
* Los clientes con billete de clase turista que han sido movidos a la cola prioritaria tienen una satisfacción de 100. En cambio, los que han sido movidos a la cola no prioritaria tienen una satisfacción de 25 si han avanzado alguna posición en la cola 2 respecto a su posición inicial en la cola de la clase turista, o de 0 en cualquier otro caso.

Como analistas de datos, evaluaremos la satisfacción y el tiempo de embarque del avión del vuelo 714.

7.1 Cargad los datos de los pasajeros del vuelo 714 que encontraréis en el dataset `data/flight714.csv` y cread las tres colas, primera, *business* y turista, con los datos de los pasajeros. Los clientes se encuentran ordenados según su posición en la cola, con la columna `client_class` indicando a cuál de las colas pertenecen.

In [130]:
df.columns

Index(['client_id', 'client_class', 'has_children', 'has_reduced_mobility'], dtype='object')

In [71]:
# Respuesta
import pandas as pd
path = 'https://raw.githubusercontent.com/CatuCerecedo/Bootcamp_DataScience_student/master/week05/practices/flight714.csv'
df = pd.read_csv(path)

df.info()
df.head()

queue_turista = df[df['client_class'] == 't'].reset_index()
queue_primera = df[df['client_class'] == 'p'].reset_index()
queue_business = df[df['client_class'] == 'b'].reset_index()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   client_id             50 non-null     int64
 1   client_class          50 non-null     object
 2   has_children          50 non-null     int64
 3   has_reduced_mobility  50 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.7+ KB

7.2 Mostrad cuántos pasajeros hay en cada cola, con el detalle de cuántos de ellos tienen o bien niños o bien movilidad reducida.

In [168]:
# Respuesta

turista_has_children_mob = queue_turista[(queue_turista['has_children'] == 1) & (queue_turista['has_reduced_mobility'] == 1)]
turista_has_children_mob_sum = turista_has_children_mob['has_children'].sum()

turista_has_children = queue_turista[(queue_turista['has_children'] == 1) & (queue_turista['has_reduced_mobility'] == 0)]
turista_has_children_sum = turista_has_children['has_children'].sum()

turista_has_mob = queue_turista[(queue_turista['has_children'] == 0) & (queue_turista['has_reduced_mobility'] == 1)]
turista_has_mob_sum = turista_has_mob['has_reduced_mobility'].sum()

print(f'En la cola Turista hay un total de {len(queue_turista)} pasajeros:')
print(f'Con hijos {turista_has_children_sum}, con movilidad reducida {turista_has_mob_sum} y ambas {turista_has_children_mob_sum}')
print(f'En la cola Primera hay un total de {len(queue_primera)} pasajeros.')
print(f'En la cola Business hay un total de {len(queue_business)} pasajeros.')

En la cola Turista hay un total de 37 pasajeros:
Con hijos 3, con movilidad reducida 2 y ambas 1
En la cola Primera hay un total de 3 pasajeros.
En la cola Business hay un total de 10 pasajeros.

7.3 Implementad una función que genere las dos colas de embarque (cola prioritaria y cola no prioritaria) a partir de las tres colas obtenidas según la clase del billete del pasajero.

In [236]:
# Respuesta

def queue_distribution(claseT, claseP, claseB):

    queue_1 = pd.DataFrame()
    queue_2 = pd.DataFrame()

    queue_1 = claseT[(claseT['has_children'] == 1) | (claseT['has_reduced_mobility'] == 1)]
    queue_2 = claseT[(claseT['has_children'] == 0) & (claseT['has_reduced_mobility'] == 0)]
    queue_1alt = claseP.append(claseB)
    queue_1alt['rank'] = queue_1alt.groupby(['client_class']).cumcount()
    queue_1alt = queue_1alt.sort_values(['rank'])
    queue_1alt = queue_1alt.drop(['rank'], axis=1)
    queue_1final = queue_1.append(queue_1alt)

    return queue_1final, queue_2

queue_distribution(queue_turista, queue_primera, queue_business)

queue_1final, queue_2 = queue_distribution(queue_turista, queue_primera, queue_business)

In [274]:
queue_2

    index  client_id client_class  has_children  has_reduced_mobility
0      13         14            t             0                     0
2      15         16            t             0                     0
4      17         18            t             0                     0
5      18         19            t             0                     0
6      19         20            t             0                     0
7      20         21            t             0                     0
8      21         22            t             0                     0
9      22         23            t             0                     0
10     23         24            t             0                     0
11     24         25            t             0                     0
12     25         26            t             0                     0
13     26         27            t             0                     0
14     27         28            t             0                     0
15     28         29            t             0                     0
16     29         30            t             0                     0
18     31         32            t             0                     0
19     32         33            t             0                     0
20     33         34            t             0                     0
21     34         35            t             0                     0
23     36         37            t             0                     0
24     37         38            t             0                     0
25     38         39            t             0                     0
27     40         41            t             0                     0
28     41         42            t             0                     0
29     42         43            t             0                     0
30     43         44            t             0                     0
31     44         45            t             0                     0
32     45         46            t             0                     0
34     47         48            t             0                     0
35     48         49            t             0                     0
36     49         50            t             0                     0

7.4 Implementad una función que calcule el tiempo que se tarda en embarcar el avión y una función que calcule la satisfacción de los pasajeros.

In [205]:
# Respuesta

def boarding_time(queue_1final,queue_2):
    if len(queue_2) > len(queue_1final):
        par1 = len(queue_2)
    else:
        par1 = len(queue_1final)

    diff = par1 * 30
    return diff

In [291]:
def satis_survey(queue_1final,queue_2):
    satisP1 = []
    satisT1 = []
    satisT2 = []

    for i in range(len(queue_1final)):
        if queue_1final.iloc[i]['client_class'] == 'p':
            change = queue_1final.index[i] - i
            satisP1.append(change * 25)
    
    for i in range(len(queue_1final)):
        if queue_1final.iloc[i]['client_class'] == 't':
            change = 100
            satisT1.append(change)    

    for i in range(len(queue_2)):
        if (queue_2.index[i] - i + 1) > 1:
            satisT2.append(25)

    return sum(satisT1) + sum(satisT2) + sum(satisP1)

7.5 Calculad el tiempo que se tarda en embarcar el vuelo 714 y la satisfacción de los clientes.

In [289]:
# Respuesta

timing = boarding_time(queue_1final,queue_2)
print(f'El boarding time es de: {timing/60} minutos')

El boarding time es de: 15.5 minutos

In [292]:
nsurvey = satis_survey(queue_1final,queue_2)
print(f'La satisfacción de los clientes es de {nsurvey}')

La satisfacción de los clientes es de 825